{% extends "base.twig" %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="css/404.css">
{% endblock %}

{% block title %}Page Not Found{% endblock %}

{% block content %}
    <div class="not-found">
        <h1>Page Not Found</h1>
    </div>
{% endblock %}