{% extends "base.twig" %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="css/about-us.css">
{% endblock %}

{% set title = "About Us" %}

{% set showNav = true %}

{% block content %}
    <div class="about-us">
        <h1>About Us</h1>
        <p>Welcome to our about page. Here we will include information about us and why we made this project.</p>
    </div>
{% endblock %}