{% extends "base.twig" %}

{% set title = "About Us" %}
{% set showNav = true %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="css/about-us.css">
{% endblock %}

{% block content %}
    <div class="about-us">
        <h1 class="heading">About Us</h1>
        <section class="about-container">
            <p>We’re a three-man team with a passion for local history. We developed this application as a part of our Team Project module for our Computing college course in the National College of Ireland</p>
            <img src="/images/nci.jpg" />
            <img src="/images/nci.jpg" />
            <p>We’re a three-man team with a passion for local history. We developed this application as a part of our Team Project module for our Computing college course in the National College of Ireland</p>
        </section>
    </div>
{% endblock %}