{% extends "base.twig" %}

{% set title = "About Us" %}
{% set showNav = true %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="css/about-us.css">
{% endblock %}

{% block content %}
    <div class="about-us">
        <h1 class="heading">About Us</h1>
        <section class="about-container">
            <p>We’re a three-man team with a passion for local history. We developed this application as a part of our Team Project module for our Computing college course in the National College of Ireland. When brainstorming ideas we ended up discussing history related projects which eventually lead us to this idea.</p>
            <img src="/images/nci.jpg" />
            <img src="/images/giants-causeway.jpg" />
            <p>Our aim in making this website was to offer a fresh take on tourism for both the tourists and the locals. Many popular applications only offer walking tours, but we wanted to create a new experience, one where tourists and locals can have the ability to learn more about the landmark and see an in-depth analysis of its history.</p>
        </section>
    </div>
{% endblock %}