{% extends "base.twig" %}

{% set title = "About Us" %}
{% set showNav = true %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="css/about-us.css">
{% endblock %}

{% block content %}
    <div class="about-us">
        <h1>About Us</h1>
        <p>We’re a three-man team with a passion for local history. We developed this application while in our 3rd year studying computing in the National College of Ireland in 2020. Please be aware the application is in extreme infancy and we are currently restricted due to COVID-19 government advice, to go out and photograph new landmarks.   </p>
    </div>
{% endblock %}