{% extends "base.twig" %}

{% set title = "Frequently Asked Questions" %}
{% set showNav = true %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="css/faq.css">
{% endblock %}

{% block content %}
<div class="faq">
    <h1>Frequently Asked Questions</h1>
    <div class="question-container">
        <div class="question">
            Who are we? Who are we? Who are we? Who are we?
        </div>
        <div class="answer">
            Answer to the question Answer to the question Answer to the question
        </div>
    </div>
    <div class="question-container">
        <div class="question">
            Who are we? Who are we? Who are we? Who are we?
        </div>
        <div class="answer">
            Answer to the question Answer to the question Answer to the question
        </div>
    </div>
    <div class="question-container">
        <div class="question">
            Who are we? Who are we? Who are we? Who are we?
        </div>
        <div class="answer">
            Answer to the question Answer to the question Answer to the question
        </div>
    </div>
</div>
{% endblock %}