.faq {
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

.question-container {
    display: flex;
}

.question-container div {
    display: inline-block;
}

.question-container div:last-child {
    margin-left: auto;
}

.question {
    font-weight: bold;
}
