#map {
    margin: 0 auto;
    width: 80%;
    height: 300px;
}

.landmark h1 {
    text-align: center;
}

.landmark-container > * {
    flex: 1;
}

.links ul {
    list-style-type: none;
}

.audio {
    display: flex;
    justify-content: center;
    align-items: center;
}
