#map {
    margin: 0 auto;
    width: 80%;
    height: 300px;
}

.landmark h1 {
    text-align: center;
}

.landmark-container > * {
    flex: 1;
}

.description {
    font-size: 0.8em;
}

.links {
    margin-top: 50px;
}

.links > h2 {
    text-align: center;
}

.links ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.audio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
