.image img {
    max-height: 400px;
    max-width: 400px;
}

.landmark {
    display: flex;
}
.landmark-container > * {
    flex-basis: 1fr;
}

aside,
section {
    padding: 15px;
}

.description {
    margin-top: 30px;
    font-size: 0.8em;
}

.links {
    margin-top: 50px;
}

.links > h2 {
    text-align: center;
}

.links ul {
    padding: 0;
    margin-left: 30px;
    list-style-type: none;
}

.audio h2,
.links h2,
.title {
    font-size: 1.2rem;
}

.title {
    text-align: center;
}

.audio {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#map {
    margin: 30px auto 0;
    width: 80%;
    height: 300px;
}
