html {
    font-size: 24px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

nav {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
}

nav a,
nav a:hover {
    text-decoration: none;
}

nav a:hover {
    color: rgb(0, 217, 255);
}

nav a {
    transition: 0.2s;
    padding: 14px 20px;
    color: inherit;
}

nav a:nth-child(2) {
    margin-left: auto;
}

footer {
    text-align: center;
    font-size: 0.8rem;
}
