{% extends "base.twig" %}

{% block title %}
    About
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>About</h1>
    <p class="important">Welcome to my about page.</p>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}