<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="../css/style.css" />
            <title>{% block title %}{% endblock %} - My Webpage</title>
        {% endblock %}
    </head>
    <body>
        <main id="content">{% block content %}{% endblock %}</main>
        <footer>
            {% block footer %} &copy; Copyright 2011 by
            <a href="#">you</a>. {% endblock %}
        </footer>
    </body>
</html>
