<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" type="image/jpg" href="../favicon.ico"/>
        {% block css %}
            <link rel="stylesheet" href="../css/bootstrap.min.css">
            <link rel="stylesheet" href="../css/main.css" />
        {% endblock %}

        {% block js %}
            <script src="../js/bootstrap.bundle.min.js" defer></script>
        {% endblock %}

        {% if block('title') is not empty  %}
            <title>{% block title %}{% endblock %} - WhatsThat</title>
        {% else %}
            <title>WhatsThat</title>
        {% endif %}
    </head>
    <body>
        <main id="content">{% block content %}{% endblock %}</main>
        <footer>
            <span>&copy; Copyright 2020 by Team Raspberries</span>
        </footer>
    </body>
</html>
