{% extends "base.twig" %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="../css/landing.css">
    <link rel="stylesheet" href="../css/faq.css">
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="../js/helper.js" defer></script>
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
    <div id="landing">
        <h1><a href="/">WhatsThat</a></h1>
        <p>Something cool about our web application</p>
        <div class="buttons">
            <form action="/upload" method="post" onsubmit="event.preventDefault();">
                <input type="file" accept=".jpg, .jpeg, .png" name="pic" id="pic">
                <input type="submit" id="upload-btn" value="Upload"/>
                <button id="more-btn">More</button>
            </form>
        </div>
    </div>
    <!-- TODO: FAQ -->
    <div class="frequently-asked-questions">
        <div class="question-container">
            <div class="question">
                Who are we? Who are we? Who are we? Who are we?
            </div>
            <div class="answer">
                Answer to the question Answer to the question Answer to the question
            </div>
        </div>
        <div class="question-container">
            <div class="question">
                Who are we? Who are we? Who are we? Who are we?
            </div>
            <div class="answer">
                Answer to the question Answer to the question Answer to the question
            </div>
        </div>
        <div class="question-container">
            <div class="question">
                Who are we? Who are we? Who are we? Who are we?
            </div>
            <div class="answer">
                Answer to the question Answer to the question Answer to the question
            </div>
        </div>
    </div>
{% endblock %}