{% extends "base.twig" %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="../css/landing.css">
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
    <div id="landing">
        <h1><a href="/">WhatsThat</a></h1>
        <p>Something cool about our web application</p>
    </div>
    <!-- TODO: FAQ -->
{% endblock %}